@{
    Layout = "";
}
<html>
<head>
    <title>RealEstate Search</title>
    <link rel="stylesheet" href="~/css/realestate.css" />
</head>

<body ng-app="RealEstateApp" ng-controller="searchController">
    <div id="searchcontent">
        <div id="searchdiv" ng-init="street='2114 Bigelow Ave';zipcode='98109';">
            <table class="search">
                <thead>
                    <tr><th colspan="4">RealEstate Search</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>Street:</label></td><td> <input ng-model="street" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>City:</label>
                        </td>
                        <td>
                            <input ng-model="city" />
                        </td>
                        <td>
                            <label>State:</label>
                        </td>
                        <td>
                            <input ng-model="state" />
                        </td>
                        <td><h1>OR</h1></td>
                        <td>
                            <label>Zipcode:</label>
                        </td>
                        <td>
                            <input ng-model="zipcode" />
                        </td> 
                    </tr>
                    <tr></tr>
                    <tr>

                    </tr>
                    <tr>
                        <td><button ng-click="validateSearchRequest()">Search</button></td>
                    </tr>
                    <tr>
                        <td><label>Status:</label></td><td class="status-bar">{{data.error.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-hide="detailHide">
            <div id="detailcontent" class="container">
                <div id="addresscontent" class="left">
                    <table class="table-realestatecontent">
                        <thead>
                            <tr><th colspan="4">Address</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>Street:</label></td>
                                <td>{{data.searchResult.address.street}}</td>
                            </tr>
                            <tr>
                                <td><label>City:</label></td>
                                <td>{{data.searchResult.address.city}}</td>
                            </tr>
                            <tr>
                                <td><label>State:</label></td>
                                <td>{{data.searchResult.address.state}}</td>
                            </tr>
                            <tr>
                                <td><label>ZipCode:</label></td>
                                <td>{{data.searchResult.address.zipcode}}</td>
                            </tr>
                            <tr>
                                <td><label>Latitude:</label></td>
                                <td>{{data.searchResult.address.latitude}}</td>
                            </tr>
                            <tr>
                                <td><label>Longitude:</label></td>
                                <td>{{data.searchResult.address.longitude}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="estimatecontent" class="right">
                    <table class="table-realestatecontent">
                        <thead>
                            <tr><th colspan="4">Estimate</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>Price:</label></td>
                                <td>{{data.searchResult.estimate.estimatePrice}}</td>
                            </tr>
                            <tr>
                                <td><label>High Valuation:</label></td>
                                <td>{{data.searchResult.estimate.highValuation}}</td>
                            </tr>
                            <tr>
                                <td><label>Low Valuation:</label></td>
                                <td>{{data.searchResult.estimate.lowValuation}}</td>
                            </tr>
                            <tr>
                                <td><label>Percentile:</label></td>
                                <td>{{data.searchResult.estimate.percentileValue}}</td>
                            </tr>
                            <tr>
                                <td><label>30 Day Change:</label></td>
                                <td>{{data.searchResult.estimate.thirtyDayChange}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="bottomcontent" class="container">
                <div id="linkcontent" class="left">
                    <table class="table-realestatecontent">
                        <thead>
                            <tr><th colspan="4">Links</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>Chart:</label></td>
                                <td><a class="navLinkChart" href="{{data.searchResult.links.chartData}}" title="Chart Data" target="_blank" ng-click="linkModelFunc({{data.searchResult.links.chartData}})">Chart Data</a></td>

                            </tr>
                            <tr>
                                <td><label>Home Details:</label></td>
                                <td><a class="navLinkChart" href="{{data.searchResult.links.homeDetails}}" title="Home Details" target="_blank" ng-click="linkModelFunc({{data.searchResult.links.homeDetails}})">Home Details</a></td>
                            </tr>
                            <tr>
                                <td><label>Map Home:</label></td>
                                <td><a class="navLinkChart" href="{{data.searchResult.links.mapHome}}" title="Map Home" target="_blank" ng-click="linkModelFunc({{data.searchResult.links.mapHome}})">Map Home</a></td>
                            </tr>
                            <tr>
                                <td><label>Similar Homes:</label></td>
                                <td><a class="navLinkChart" href="{{data.searchResult.links.similarSales}}" title="Similar Homes" target="_blank" ng-click="linkModelFunc({{data.searchResult.links.similarSales}})">Similar Sales</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="neighborhoodcontent" class="right">
                    <table class="table-realestatecontent">
                        <thead>
                            <tr><th colspan="4">NeighborHood</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>Sale By Owner:</label></td>
                                <td><a class="navLinkChart" href="{{data.searchResult.neighborHoods[0].linkForSaleByOwner}}" title="Sale By Owner" target="_blank" ng-click="linkModelFunc({{data.searchResult.neighborHoods[0].linkForSaleByOwner}})">Sale By Owner</a></td>

                            </tr>
                            <tr>
                                <td><label>Sale Home:</label></td>
                                <td><a class="navLinkChart" href="{{data.searchResult.neighborHoods[0].linkForSaleHome}}" title="Sale Home" target="_blank" ng-click="linkModelFunc({{data.searchResult.neighborHoods[0].linkForSaleHome}})">Sale Home</a></td>
                            </tr>
                            <tr>
                                <td><label>Region Overview:</label></td>
                                <td><a class="navLinkChart" href="{{data.searchResult.neighborHoods[0].linkToRegionOverview}}" title="Region Overview" target="_blank" ng-click="linkModelFunc({{data.searchResult.neighborHoods[0].linkToRegionOverview}})">Region Overview</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <ng-view></ng-view>
        </div>

            <script>function validate() { alert("sharad"); validateRequest(); }</script>
            <script src="~/lib/angular/angular.js"></script>
            <script src="~/lib/angular-route/angular-route.js"></script>
            <script src="~/app/realestateapp.js"></script>
            <script src="~/app/realestateservices.js"></script>
            <script src="~/app/realestatecontrollers.js"></script>
</body>
</html>