@{
    Layout = "";
}
<html>
<head>
    <title>RealEstate Search</title>
    <link rel="stylesheet" href="~/css/realestate.css" />
</head>

<body ng-app="RealEstateApp" ng-controller="searchController">
    <div id="searchcontent">
        <div id="searchdiv" ng-init="street='2114 Bigelow Ave';zipcode='98109';">
            <table class="search">
                <thead>
                    <tr><th colspan="4">RealEstate Search</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>Street:</label></td><td> <input ng-model="street" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>City:</label>
                        </td>
                        <td>
                            <input ng-model="city" />
                        </td>
                        <td>
                            <label>State:</label>
                        </td>
                        <td>
                            <input ng-model="state" />
                        </td>
                        <td><h1>OR</h1></td>
                        <td>
                            <label>Zipcode:</label>
                        </td>
                        <td>
                            <input ng-model="zipcode" />
                        </td> 
                    </tr>
                    <tr></tr>
                    <tr>

                    </tr>
                    <tr>
                        <td><button ng-click="validateSearchRequest()">Search</button></td>
                    </tr>
                    <tr>
                        <td><label>Status:</label></td><td class="status-bar">{{data.error.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-hide="detailHide">
            <a href="#/address">Address</a>
            <a href="#/estimate">Estimate</a>
            <a href="#/links">Links</a>
            <a href="#/neighborhoods">Neighborhoods</a>
            <ng-view></ng-view>
        </div>
        </div>

            <script>function validate() { alert("sharad"); validateRequest(); }</script>
            <script src="~/lib/angular/angular.js"></script>
            <script src="~/lib/angular-route/angular-route.js"></script>
            <script src="~/app/realestateapp.js"></script>
            <script src="~/app/realestateservices.js"></script>
            <script src="~/app/realestatecontrollers.js"></script>
</body>
</html>